.xtopic{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 90%;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: teal;
}
.items{
    display: flex;
    justify-content: space-around;
}